<a href="https://colab.research.google.com/github/Pirognoe/Show_Off/blob/master/DEX_pmsys_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import section

In [0]:
from urllib.request import urlretrieve
import os
from pathlib import Path
import pandas as pd
from zipfile import ZipFile
import ppscore
import matplotlib.pyplot as plt
import seaborn as sns

# Initial data upload

In [2]:
def download(url, file):
    if not os.path.isfile(file):
        print("Download file... " + file + " ...")
        urlretrieve(url,file)
        print("File downloaded")

download('https://datasets.simula.no/pmdata/pmdata.zip','pmdata.zip')
print("All the files are downloaded")#If the downloaded file is a zip file than you can use below function to unzip it.
def uncompress_features_labels(dir):
    if(os.path.isdir('data')):
        print('Data extracted')
    else:
        with ZipFile(dir) as zipf:
            zipf.extractall('data')
uncompress_features_labels('pmdata.zip')

Download file... pmdata.zip ...
File downloaded
All the files are downloaded

In [3]:
main_directory = Path('./data')
for directory in main_directory.iterdir():
  print(list(directory.glob('*googledocs*')))

[PosixPath('data/p14/googledocs')]
[PosixPath('data/p11/googledocs')]
[PosixPath('data/p03/googledocs')]
[PosixPath('data/p02/googledocs')]
[PosixPath('data/p13/googledocs')]
[PosixPath('data/p09/googledocs')]
[PosixPath('data/p16/googledocs')]
[PosixPath('data/p06/googledocs')]
[PosixPath('data/p10/googledocs')]
[]
[PosixPath('data/p01/googledocs')]
[PosixPath('data/p12/googledocs')]
[PosixPath('data/p04/googledocs')]
[PosixPath('data/p05/googledocs')]
[PosixPath('data/p08/googledocs')]
[PosixPath('data/p15/googledocs')]
[PosixPath('data/p07/googledocs')]

[]

In [0]:
for directory in main_directory.iterdir():
  if directory.is_dir():
    for data_source in directory.iterdir():
      for item in data_source.iterdir():
        for test in item.glob('*/googledocs/*'):
          print (type(test))

In [6]:
for directory in main_directory.iterdir():
  if directory.is_dir():
    for data_source in directory.iterdir():
      for item in data_source.iterdir():
        if item.suffix == '.csv' and item.parent:
          print(item, item.parent)
          
output = pd.concat([pd.read_csv(item) for item in main_directory.glob('**/*') if item.suffix == '.csv'])         
output
list(main_directory.glob('**/*.csv'))
output

data/p14/pmsys/wellness.csv data/p14/pmsys
data/p14/pmsys/injury.csv data/p14/pmsys
data/p14/pmsys/srpe.csv data/p14/pmsys
data/p14/googledocs/reporting.csv data/p14/googledocs
data/p14/fitbit/sleep_score.csv data/p14/fitbit
data/p11/pmsys/wellness.csv data/p11/pmsys
data/p11/pmsys/injury.csv data/p11/pmsys
data/p11/pmsys/srpe.csv data/p11/pmsys
data/p11/googledocs/reporting.csv data/p11/googledocs
data/p11/fitbit/sleep_score.csv data/p11/fitbit
data/p03/pmsys/wellness.csv data/p03/pmsys
data/p03/pmsys/injury.csv data/p03/pmsys
data/p03/pmsys/srpe.csv data/p03/pmsys
data/p03/googledocs/reporting.csv data/p03/googledocs
data/p03/fitbit/sleep_score.csv data/p03/fitbit
data/p02/pmsys/wellness.csv data/p02/pmsys
data/p02/pmsys/injury.csv data/p02/pmsys
data/p02/pmsys/srpe.csv data/p02/pmsys
data/p02/googledocs/reporting.csv data/p02/googledocs
data/p02/fitbit/sleep_score.csv data/p02/fitbit
data/p13/pmsys/wellness.csv data/p13/pmsys
data/p13/pmsys/injury.csv data/p13/pmsys
data/p13/pmsys/srpe.csv data/p13/pmsys
data/p13/googledocs/reporting.csv data/p13/googledocs
data/p13/fitbit/sleep_score.csv data/p13/fitbit
data/p09/pmsys/wellness.csv data/p09/pmsys
data/p09/pmsys/injury.csv data/p09/pmsys
data/p09/pmsys/srpe.csv data/p09/pmsys
data/p09/googledocs/reporting.csv data/p09/googledocs
data/p09/fitbit/sleep_score.csv data/p09/fitbit
data/p16/pmsys/wellness.csv data/p16/pmsys
data/p16/pmsys/injury.csv data/p16/pmsys
data/p16/pmsys/srpe.csv data/p16/pmsys
data/p16/googledocs/reporting.csv data/p16/googledocs
data/p16/fitbit/sleep_score.csv data/p16/fitbit
data/p06/pmsys/wellness.csv data/p06/pmsys
data/p06/pmsys/injury.csv data/p06/pmsys
data/p06/pmsys/srpe.csv data/p06/pmsys
data/p06/googledocs/reporting.csv data/p06/googledocs
data/p06/fitbit/sleep_score.csv data/p06/fitbit
data/p10/pmsys/wellness.csv data/p10/pmsys
data/p10/pmsys/injury.csv data/p10/pmsys
data/p10/pmsys/srpe.csv data/p10/pmsys
data/p10/googledocs/reporting.csv data/p10/googledocs
data/p10/fitbit/sleep_score.csv data/p10/fitbit
data/p01/pmsys/wellness.csv data/p01/pmsys
data/p01/pmsys/injury.csv data/p01/pmsys
data/p01/pmsys/srpe.csv data/p01/pmsys
data/p01/googledocs/reporting.csv data/p01/googledocs
data/p01/fitbit/sleep_score.csv data/p01/fitbit
data/p12/pmsys/wellness.csv data/p12/pmsys
data/p12/pmsys/injury.csv data/p12/pmsys
data/p12/pmsys/srpe.csv data/p12/pmsys
data/p12/googledocs/reporting.csv data/p12/googledocs
data/p12/fitbit/sleep_score.csv data/p12/fitbit
data/p04/pmsys/wellness.csv data/p04/pmsys
data/p04/pmsys/injury.csv data/p04/pmsys
data/p04/pmsys/srpe.csv data/p04/pmsys
data/p04/googledocs/reporting.csv data/p04/googledocs
data/p04/fitbit/sleep_score.csv data/p04/fitbit
data/p05/pmsys/wellness.csv data/p05/pmsys
data/p05/pmsys/injury.csv data/p05/pmsys
data/p05/pmsys/srpe.csv data/p05/pmsys
data/p05/googledocs/reporting.csv data/p05/googledocs
data/p05/fitbit/sleep_score.csv data/p05/fitbit
data/p08/pmsys/wellness.csv data/p08/pmsys
data/p08/pmsys/srpe.csv data/p08/pmsys
data/p08/googledocs/reporting.csv data/p08/googledocs
data/p08/fitbit/sleep_score.csv data/p08/fitbit
data/p15/pmsys/wellness.csv data/p15/pmsys
data/p15/pmsys/injury.csv data/p15/pmsys
data/p15/pmsys/srpe.csv data/p15/pmsys
data/p15/fitbit/sleep_score.csv data/p15/fitbit
data/p07/pmsys/wellness.csv data/p07/pmsys
data/p07/pmsys/injury.csv data/p07/pmsys
data/p07/pmsys/srpe.csv data/p07/pmsys
data/p07/googledocs/reporting.csv data/p07/googledocs
data/p07/fitbit/sleep_score.csv data/p07/fitbit

         effective_time_frame  fatigue  ...  resting_heart_rate  restlessness
0    2019-11-17T18:42:20.876Z      2.0  ...                 NaN           NaN
1    2019-11-18T18:25:20.879Z      3.0  ...                 NaN           NaN
2    2019-11-19T08:05:41.825Z      3.0  ...                 NaN           NaN
3    2019-11-20T03:48:18.057Z      2.0  ...                 NaN           NaN
4    2019-11-21T07:24:51.069Z      2.0  ...                 NaN           NaN
..                        ...      ...  ...                 ...           ...
135                       NaN      NaN  ...                58.0      0.067102
136                       NaN      NaN  ...                59.0      0.052798
137                       NaN      NaN  ...                58.0      0.050292
138                       NaN      NaN  ...                58.0      0.049445
139                       NaN      NaN  ...                57.0      0.054945

[6160 rows x 28 columns]

In [37]:
googledocs_reporting =[]
for i in range(16):
  for item in main_directory.glob(f'**/p?{i}/googledocs/*.csv'):
    df = pd.read_csv(item)
  googledocs_reporting.append(df)

for df in googledocs_reporting:
  print(df.describe())

          weight  glasses_of_fluid
count  73.000000        100.000000
mean   70.835616          6.760000
std     0.687461          1.364188
min    70.000000          4.000000
25%    70.000000          6.000000
50%    71.000000          7.000000
75%    71.000000          8.000000
max    72.000000         10.000000
           weight  glasses_of_fluid
count   82.000000        109.000000
mean   100.359756          8.110092
std      0.672541          1.403299
min     99.000000          5.000000
25%    100.000000          7.000000
50%    100.000000          8.000000
75%    101.000000          9.000000
max    102.000000         13.000000
          weight  glasses_of_fluid
count  74.000000         82.000000
mean   68.658108         13.170732
std     0.609290          2.443459
min    67.100000          8.000000
25%    68.200000         12.000000
50%    68.700000         13.000000
75%    69.000000         15.000000
max    70.000000         19.000000
          weight  glasses_of_fluid
count  62.000000         66.000000
mean   85.922581          8.560606
std     0.715500          2.768664
min    84.500000          3.000000
25%    85.150000          7.000000
50%    86.000000          8.000000
75%    86.000000         10.000000
max    87.000000         15.000000
           weight  glasses_of_fluid
count  114.000000        139.000000
mean    58.736842          9.237410
std      0.729318          2.701537
min     58.000000          3.000000
25%     58.000000          7.000000
50%     59.000000         10.000000
75%     59.000000         10.000000
max     60.000000         15.000000
           weight  glasses_of_fluid
count  101.000000        126.000000
mean   100.847525          9.984127
std      0.996754          4.246380
min     99.000000          3.000000
25%    100.000000          7.000000
50%    101.000000          9.000000
75%    101.000000         11.000000
max    103.000000         20.000000
           weight  glasses_of_fluid
count  106.000000        129.000000
mean    94.334906         12.007752
std      0.860901          1.481638
min     92.500000          7.000000
25%     94.000000         11.000000
50%     94.500000         12.000000
75%     95.000000         13.000000
max     95.700000         17.000000
           weight  glasses_of_fluid
count  107.000000        126.000000
mean    67.130841         11.444444
std      0.753409          2.916314
min     66.000000          6.000000
25%     67.000000         10.000000
50%     67.000000         11.000000
75%     68.000000         13.000000
max     68.000000         20.000000
          weight  glasses_of_fluid
count  50.000000         58.000000
mean   86.660000         12.637931
std     1.205599          2.314700
min    84.000000         10.000000
25%    86.000000         11.000000
50%    87.000000         13.000000
75%    88.000000         14.000000
max    89.000000         20.000000
          weight  glasses_of_fluid
count  80.000000         98.000000
mean   93.842500          8.857143
std     1.299053          2.144280
min    91.000000          4.000000
25%    92.800000          7.000000
50%    93.700000          9.000000
75%    94.850000         10.000000
max    96.300000         15.000000
          weight  glasses_of_fluid
count  80.000000         98.000000
mean   93.842500          8.857143
std     1.299053          2.144280
min    91.000000          4.000000
25%    92.800000          7.000000
50%    93.700000          9.000000
75%    94.850000         10.000000
max    96.300000         15.000000
          weight  glasses_of_fluid
count  80.000000         98.000000
mean   93.842500          8.857143
std     1.299053          2.144280
min    91.000000          4.000000
25%    92.800000          7.000000
50%    93.700000          9.000000
75%    94.850000         10.000000
max    96.300000         15.000000
          weight  glasses_of_fluid
count  80.000000         98.000000
mean   93.842500          8.857143
std     1.299053          2.144280
min    91.000000          4.000000
25%    92.800000          7.000000
50%    93.700000          9.000000
75%    94.850000         10.000000
max    96.300000         15.000000
          weight  glasses_of_fluid
count  80.000000         98.000000
mean   93.842500          8.857143
std     1.299053          2.144280
min    91.000000          4.000000
25%    92.800000          7.000000
50%    93.700000          9.000000
75%    94.850000         10.000000
max    96.300000         15.000000
          weight  glasses_of_fluid
count  80.000000         98.000000
mean   93.842500          8.857143
std     1.299053          2.144280
min    91.000000          4.000000
25%    92.800000          7.000000
50%    93.700000          9.000000
75%    94.850000         10.000000
max    96.300000         15.000000
          weight  glasses_of_fluid
count  80.000000         98.000000
mean   93.842500          8.857143
std     1.299053          2.144280
min    91.000000          4.000000
25%    92.800000          7.000000
50%    93.700000          9.000000
75%    94.850000         10.000000
max    96.300000         15.000000

In [57]:
for personal_report in googledocs_reporting:
  personal_report['date'] = pd.to_datetime(personal_report['date'], format="%d/%m/%Y")
  personal_report['timestamp'] = pd.to_datetime(personal_report['timestamp'], infer_datetime_format=True)
  print(personal_report.dtypes)
  print(personal_report.head())

date                datetime64[ns]
timestamp           datetime64[ns]
meals                       object
weight                     float64
glasses_of_fluid             int64
alcohol_consumed            object
dtype: object
        date           timestamp  ... glasses_of_fluid  alcohol_consumed
0 2019-11-15 2019-12-16 13:45:50  ...               10                No
1 2019-11-15 2019-11-16 09:52:16  ...                5               Yes
2 2019-11-16 2019-11-17 09:26:07  ...                5               Yes
3 2019-11-17 2019-11-18 07:52:23  ...                4               Yes
4 2019-11-18 2019-11-19 08:41:00  ...                6                No

[5 rows x 6 columns]
date                datetime64[ns]
timestamp           datetime64[ns]
meals                       object
weight                     float64
glasses_of_fluid             int64
alcohol_consumed            object
dtype: object
        date           timestamp  ... glasses_of_fluid  alcohol_consumed
0 2019-11-06 2019-06-12 21:58:30  ...                7                No
1 2019-11-09 2019-09-12 21:17:02  ...                6                No
2 2019-11-10 2019-10-12 21:52:58  ...                9                No
3 2019-11-11 2019-11-11 22:36:30  ...                5                No
4 2019-11-12 2019-11-13 00:15:47  ...                7                No

[5 rows x 6 columns]
date                datetime64[ns]
timestamp           datetime64[ns]
meals                       object
weight                     float64
glasses_of_fluid             int64
alcohol_consumed            object
dtype: object
        date           timestamp  ... glasses_of_fluid  alcohol_consumed
0 2019-11-15 2019-11-17 08:50:38  ...               14                No
1 2019-11-16 2019-11-17 08:51:27  ...               12                No
2 2019-11-17 2019-11-17 21:47:14  ...               15                No
3 2019-11-18 2019-11-18 21:34:16  ...               14                No
4 2019-11-19 2019-11-19 21:10:42  ...               16                No

[5 rows x 6 columns]
date                datetime64[ns]
timestamp           datetime64[ns]
meals                       object
weight                     float64
glasses_of_fluid             int64
alcohol_consumed            object
dtype: object
        date           timestamp  ... glasses_of_fluid  alcohol_consumed
0 2019-11-17 2019-11-17 18:39:07  ...                4               Yes
1 2019-11-18 2019-11-18 21:16:06  ...                3               Yes
2 2019-11-19 2019-11-19 23:12:16  ...                8                No
3 2019-11-20 2019-11-20 23:41:53  ...                6               Yes
4 2019-11-21 2019-11-22 09:37:47  ...                7               Yes

[5 rows x 6 columns]
date                datetime64[ns]
timestamp           datetime64[ns]
meals                       object
weight                     float64
glasses_of_fluid             int64
alcohol_consumed            object
dtype: object
        date           timestamp  ... glasses_of_fluid  alcohol_consumed
0 2019-11-02 2019-02-12 21:01:09  ...               10                No
1 2019-11-03 2019-03-12 21:30:53  ...                7                No
2 2019-11-05 2019-06-11 21:52:17  ...                7                No
3 2019-11-07 2019-07-11 22:20:04  ...                8                No
4 2019-11-08 2019-08-12 21:00:46  ...                7                No

[5 rows x 6 columns]
date                datetime64[ns]
timestamp           datetime64[ns]
meals                       object
weight                     float64
glasses_of_fluid             int64
alcohol_consumed            object
dtype: object
        date           timestamp  ... glasses_of_fluid  alcohol_consumed
0 2019-11-15 2019-11-15 21:07:04  ...               10                No
1 2019-11-16 2019-11-17 07:49:34  ...                5                No
2 2019-11-17 2019-11-17 21:01:19  ...               10                No
3 2019-11-18 2019-11-18 19:29:17  ...                5                No
4 2019-11-19 2019-11-19 18:40:01  ...                5                No

[5 rows x 6 columns]
date                datetime64[ns]
timestamp           datetime64[ns]
meals                       object
weight                     float64
glasses_of_fluid             int64
alcohol_consumed            object
dtype: object
        date           timestamp  ... glasses_of_fluid  alcohol_consumed
0 2019-11-22 2019-11-23 06:44:27  ...               12                No
1 2019-11-23 2019-11-23 22:42:21  ...               13               Yes
2 2019-11-24 2019-11-24 23:43:54  ...                7               Yes
3 2019-11-24 2019-11-26 00:22:06  ...                7               Yes
4 2019-11-25 2019-11-26 00:26:22  ...                9                No

[5 rows x 6 columns]
date                datetime64[ns]
timestamp           datetime64[ns]
meals                       object
weight                     float64
glasses_of_fluid             int64
alcohol_consumed            object
dtype: object
        date           timestamp  ... glasses_of_fluid  alcohol_consumed
0 2019-11-09 2019-09-11 21:46:25  ...               10                No
1 2019-11-11 2019-11-11 20:16:06  ...                7                No
2 2019-11-12 2019-12-11 20:32:14  ...                6                No
3 2019-11-13 2019-11-13 20:58:16  ...                7                No
4 2019-11-14 2019-11-14 21:01:20  ...               10                No

[5 rows x 6 columns]
date                datetime64[ns]
timestamp           datetime64[ns]
meals                       object
weight                     float64
glasses_of_fluid             int64
alcohol_consumed            object
dtype: object
        date           timestamp  ... glasses_of_fluid  alcohol_consumed
0 2019-11-11 2019-12-11 09:21:23  ...               13                No
1 2019-11-15 2019-11-16 11:01:40  ...               12               Yes
2 2019-11-16 2019-11-16 21:16:22  ...               13                No
3 2019-11-17 2019-11-17 22:55:19  ...               10                No
4 2019-11-18 2019-11-19 16:06:42  ...               10                No

[5 rows x 6 columns]
date                datetime64[ns]
timestamp           datetime64[ns]
meals                       object
weight                     float64
glasses_of_fluid             int64
alcohol_consumed            object
dtype: object
        date           timestamp  ... glasses_of_fluid  alcohol_consumed
0 2019-11-15 2019-11-16 01:28:25  ...                5               Yes
1 2019-11-16 2019-11-17 14:18:05  ...               12               Yes
2 2019-11-17 2019-11-18 10:59:00  ...                4                No
3 2019-11-18 2019-11-19 14:03:58  ...                8                No
4 2019-11-19 2019-11-20 07:08:56  ...                6                No

[5 rows x 6 columns]
date                datetime64[ns]
timestamp           datetime64[ns]
meals                       object
weight                     float64
glasses_of_fluid             int64
alcohol_consumed            object
dtype: object
        date           timestamp  ... glasses_of_fluid  alcohol_consumed
0 2019-11-15 2019-11-16 01:28:25  ...                5               Yes
1 2019-11-16 2019-11-17 14:18:05  ...               12               Yes
2 2019-11-17 2019-11-18 10:59:00  ...                4                No
3 2019-11-18 2019-11-19 14:03:58  ...                8                No
4 2019-11-19 2019-11-20 07:08:56  ...                6                No

[5 rows x 6 columns]
date                datetime64[ns]
timestamp           datetime64[ns]
meals                       object
weight                     float64
glasses_of_fluid             int64
alcohol_consumed            object
dtype: object
        date           timestamp  ... glasses_of_fluid  alcohol_consumed
0 2019-11-15 2019-11-16 01:28:25  ...                5               Yes
1 2019-11-16 2019-11-17 14:18:05  ...               12               Yes
2 2019-11-17 2019-11-18 10:59:00  ...                4                No
3 2019-11-18 2019-11-19 14:03:58  ...                8                No
4 2019-11-19 2019-11-20 07:08:56  ...                6                No

[5 rows x 6 columns]
date                datetime64[ns]
timestamp           datetime64[ns]
meals                       object
weight                     float64
glasses_of_fluid             int64
alcohol_consumed            object
dtype: object
        date           timestamp  ... glasses_of_fluid  alcohol_consumed
0 2019-11-15 2019-11-16 01:28:25  ...                5               Yes
1 2019-11-16 2019-11-17 14:18:05  ...               12               Yes
2 2019-11-17 2019-11-18 10:59:00  ...                4                No
3 2019-11-18 2019-11-19 14:03:58  ...                8                No
4 2019-11-19 2019-11-20 07:08:56  ...                6                No

[5 rows x 6 columns]
date                datetime64[ns]
timestamp           datetime64[ns]
meals                       object
weight                     float64
glasses_of_fluid             int64
alcohol_consumed            object
dtype: object
        date           timestamp  ... glasses_of_fluid  alcohol_consumed
0 2019-11-15 2019-11-16 01:28:25  ...                5               Yes
1 2019-11-16 2019-11-17 14:18:05  ...               12               Yes
2 2019-11-17 2019-11-18 10:59:00  ...                4                No
3 2019-11-18 2019-11-19 14:03:58  ...                8                No
4 2019-11-19 2019-11-20 07:08:56  ...                6                No

[5 rows x 6 columns]
date                datetime64[ns]
timestamp           datetime64[ns]
meals                       object
weight                     float64
glasses_of_fluid             int64
alcohol_consumed            object
dtype: object
        date           timestamp  ... glasses_of_fluid  alcohol_consumed
0 2019-11-15 2019-11-16 01:28:25  ...                5               Yes
1 2019-11-16 2019-11-17 14:18:05  ...               12               Yes
2 2019-11-17 2019-11-18 10:59:00  ...                4                No
3 2019-11-18 2019-11-19 14:03:58  ...                8                No
4 2019-11-19 2019-11-20 07:08:56  ...                6                No

[5 rows x 6 columns]
date                datetime64[ns]
timestamp           datetime64[ns]
meals                       object
weight                     float64
glasses_of_fluid             int64
alcohol_consumed            object
dtype: object
        date           timestamp  ... glasses_of_fluid  alcohol_consumed
0 2019-11-15 2019-11-16 01:28:25  ...                5               Yes
1 2019-11-16 2019-11-17 14:18:05  ...               12               Yes
2 2019-11-17 2019-11-18 10:59:00  ...                4                No
3 2019-11-18 2019-11-19 14:03:58  ...                8                No
4 2019-11-19 2019-11-20 07:08:56  ...                6                No

[5 rows x 6 columns]